.languageContainer input[type="radio"] {
  display: none;
}

.languageContainer input:checked + label {
  background-color: #e61976;
}

.languageContainer {
  position: fixed;
  right: 1rem;
  top: 3rem;
  z-index: 1000;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.languageOptions {
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}

.englishOption {
  border: 1px solid #ded1ff;
  border-radius: 1rem 0 0 1rem;
  padding: 0.25rem;
}

.spanishOption {
  border: 1px solid #ded1ff;
  border-radius: 0 1rem 1rem 0;
  padding: 0.25rem;
}

.englishOption,
.spanishOption {
  font-weight: bold;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.left {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  width: 50rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heroTablet {
  display: none;
}

.infoTablet {
  display: none;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.socialsTablet {
  display: none;
}

.profile {
  width: 13rem;
  height: 13rem;
  border-radius: 100rem;
  object-fit: cover;
}

.githubContainer,
.linkedinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: 100ms ease-in;
}

.githubContainer:hover {
  filter: brightness(1.5);
  box-shadow: 0 0 20px 2px #ded1ff;
}

.linkedinContainer:hover {
  filter: brightness(1.5);
  box-shadow: 0 0 20px 2px #0077b5;
}

.github,
.linkedin {
  object-fit: cover;
}

.author {
  font-size: 2rem;
  font-weight: bold;
}

.author,
.position {
  color: #ded1ff;
  margin: 0;
  font-weight: bold;
}

.introduction {
  color: #988db3;
  width: 20rem;
}

.sectionList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionListTablet {
  display: none;
}

.link {
  padding-inline: 0.125rem;
  text-decoration: none;
  color: #ded1ff;
  font-weight: bold;
  /* border-bottom: 2px solid #ded1ff; */
  transition: 100ms ease-in;
}

.link:hover {
  margin-inline: 0.5rem;
  border-bottom: 2px solid #e61976;
  color: #e61976;
}

.description {
  padding-left: 4rem;
  white-space: pre-line;
}

.projectList,
.experienceList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skillList {
  margin: 0;
  padding-left: 4rem;
  display: flex;
  gap: 2rem;
}

.socialsContainer {
  display: flex;
  gap: 1rem;
}

.contactList {
  width: fit-content;
  padding: 1rem 1rem 1rem 3.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copied {
  display: none;
  height: fit-content;
  align-content: center;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #ded1ff;
  background-color: green;
  transition: 1s ease-out;
}

.details {
  margin: 0;
  /* margin-top: 3.5rem; */
  width: 30rem;
}

.footer {
  display: none;
}

.bright {
  color: #ded1ff;
}

.brittany {
  color: rgb(94 234 212);
}

.footerTablet {
  padding: 2rem 0 2rem 2rem;
}

@media screen and (width <= 1200px) and (width > 720px) {
  .sectionList {
    display: none;
  }

  .sectionListTablet {
    height: 6%;
    width: 100%;
    background-color: #271c42;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
  }

  .link {
    border: 0;
  }

  .main {
    flex-direction: column;
    gap: 0;
  }

  .left {
    padding-bottom: 3rem;
    position: static;
    align-items: center;
  }

  .hero {
    display: none;
  }

  .info {
    display: none;
  }

  .author {
    height: 20%;
  }

  .heroTablet {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
  }

  .infoTablet {
    display: flex;
    flex-direction: column;
  }

  .description {
    padding: 0;
  }

  .socialsTablet {
    display: flex;
    gap: 1rem;
  }

  .right {
    width: 100%;
  }

  .skillList {
    padding: 0;
  }

  .contactList {
    padding-left: 0;
  }

  .footer {
    display: none;
  }

  .footerTablet {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (width <= 720px) {
  .sectionList {
    display: none;
  }

  .sectionListTablet {
    display: none;
  }

  .link {
    border: 0;
  }

  .main {
    flex-direction: column;
    gap: 0;
  }

  .left {
    padding-bottom: 3rem;
    position: static;
    align-items: center;
  }

  .hero {
    display: none;
  }

  .info {
    display: none;
  }

  .heroTablet {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .infoTablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .author {
    height: 3rem;
  }

  .introduction {
    text-align: center;
    text-wrap: pretty;
  }

  .socialsTablet {
    display: flex;
    gap: 1rem;
  }

  .right {
    width: 100%;
  }

  .description {
    padding: 0;
  }

  .skillList {
    padding: 0;
    flex-wrap: wrap;
  }

  .contactList {
    padding-left: 0;
  }

  .socialsContainer {
    flex-wrap: wrap;
  }

  .projectList {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer {
    display: none;
  }

  .footerTablet {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}
