.header {
  background-color: rgba(0, 20, 39, 0.8);
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(0.25rem);
}

.languageContainer input[type="radio"] {
  display: none;
}

.languageContainer input:checked + label {
  background-color: white;
  color: #001427;
}

.languageContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.languageOptions {
  display: flex;
  flex: end;
}

.englishOption {
  border: 1px solid white;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
}

.spanishOption {
  border: 1px solid white;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.25rem;
}

.englishOption,
.spanishOption {
  padding-inline: 0.675rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selectedLang {
  color: #001427;
}

.main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.left {
  padding-inline: 2rem;
  height: 90%;
  position: sticky;
  padding-top: 2rem;
  padding-bottom: 1rem;
  top: 4rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  width: 50rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.profile {
  width: 13rem;
  height: 13rem;
  border-radius: 100rem;
  object-fit: cover;
}

.githubContainer,
.linkedinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: 100ms ease-in;
}

.githubContainer:hover {
  filter: brightness(1.5);
}

.linkedinContainer:hover {
  filter: brightness(1.5);
}

.github,
.linkedin {
  object-fit: cover;
}

.viku {
  margin: 0;
  line-height: 0;
  display: flex;
  flex-direction: column;
}

.author {
  color: #f9db6d;
  font-size: 2rem;
  font-weight: bold;
}

.position {
  color: #fff7f8;
  font-weight: bold;
}

.introduction {
  padding: 1rem 0;
  line-height: 2;
  color: #fff7f8;
  width: 20rem;
}

.sectionList {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.sectionList .link {
  padding-inline: 0.125rem;
  text-decoration: none;
  color: #fff7f8;
  font-weight: bold;
  display: inline-block;
  transition: transform 100ms ease-in;
}

.sectionList .link:hover {
  transform: translateY(-3px);
  color: #f9db6d;
}

.description {
  padding-left: 1rem;
  white-space: pre-line;
}

.projectList,
.experienceList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skillList {
  padding-left: 1rem;
  display: flex;
  gap: 2rem;
}

.socialsContainer {
  display: flex;
  gap: 1rem;
}

.contactList {
  padding-left: 0.5rem;
  margin: 0;
  display: flex;
  gap: 3rem;
}

.email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copied {
  display: none;
  height: fit-content;
  align-content: center;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #ded1ff;
  background-color: green;
  transition: 1s ease-out;
}

.details {
  width: 30rem;
}

.bright {
  color: #fff7f8;
}

.brittany {
  color: rgb(94 234 212);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 2rem 48rem 2rem 2rem;
}

@media screen and (width <= 1201px) {
  .link {
    border: 0;
  }

  .main {
    margin-inline: 2rem;
    flex-direction: column;
    gap: 0;
  }

  .left {
    position: initial;
    padding-bottom: 3rem;
    align-items: center;
    gap: 1rem;
  }

  .footer {
    justify-content: flex-start;
    padding: 1rem 2rem 1rem 3rem;
    margin: 0;
  }

  .viku {
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .author {
    margin: 0;
    /* padding: 1rem; */
  }

  .position {
    margin: 0;
  }

  .introduction {
    line-height: 2;
    text-align: center;
    text-wrap: pretty;
    padding: 1rem 0;
    width: 25rem;
  }

  .right {
    width: 100%;
  }

  .description {
    padding-left: 1rem;
  }

  .skillList {
    padding-left: 1rem;
    flex-wrap: wrap;
  }

  .contactList {
    padding-left: 0.375rem;
  }

  .socialsContainer {
    flex-wrap: wrap;
  }

  .projectList {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (width <= 935px) {
  .sectionList {
    display: none;
  }

  .header {
    padding: 1rem 1rem;
  }
}
