.educationCard {
  padding-left: 1rem;
}

.title {
  font-size: 1.125rem;
  color: #fff7f8;
}

.degree {
  font-weight: 400;
  color: #fff7f8;
}

.noMargin {
  margin: 0;
}

@media screen and (width <= 1525px) {
  .educationCard {
    padding-inline: 1rem;
  }
}
