.projectCard {
  color: #fff7f8;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: 100ms ease-in;
}

.projectCard:hover {
  border-radius: 0.5rem;
  background-color: #708d8119;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projectCard:hover .linkImg {
  transform: translate(0, -0.25rem);
  fill: #f4d58d;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 1.125rem;
  height: fit-content;
  color: #fff7f8;
}

.linkImg {
  fill: #faf0e6;
  width: 1.5rem;
  transition: 100ms ease-in;
}

.tags {
  margin-top: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.img {
  border-radius: 0.5rem;
  width: 40%;
  height: 40%;
}

.noMargin {
  margin: 0;
}

.noListStyle {
  list-style: none;
}

@media screen and (width <= 1525px) {
  .tags {
    flex-wrap: wrap;
  }

  .projectCard {
    width: 200%;
    padding-inline: 1rem;
    margin-left: 0;
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .noListStyle {
    width: 50%;
    list-style: none;
  }
}
